@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?2r8wfe");
  src: url("fonts/icomoon.eot?2r8wfe#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?2r8wfe") format("truetype"),
    url("fonts/icomoon.woff?2r8wfe") format("woff"),
    url("fonts/icomoon.svg?2r8wfe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-group:before {
  content: "\e900";
}
.icon-cake:before {
  content: "\e901";
}
.icon-email:before {
  content: "\e902";
}
.icon-analyze:before {
  content: "\e903";
}
.icon-chat:before {
  content: "\e904";
}
.icon-doughnut:before {
  content: "\e905";
  color: #72767c;
}
.icon-sign-out:before {
  content: "\e906";
  color: #72767c;
}
.icon-cog:before {
  content: "\e907";
  color: #72767c;
}
.icon-settings:before {
  content: "\e908";
  color: #72767c;
}
.icon-comment:before {
  content: "\e909";
  color: #72767c;
}
.icon-calendar:before {
  content: "\e90a";
  color: #72767c;
}
.icon-fencing:before {
  content: "\e90b";
  color: #72767c;
}
.icon-cart:before {
  content: "\e90c";
  color: #72767c;
}
.icon-bag:before {
  content: "\e90d";
  color: #72767c;
}
.icon-car:before {
  content: "\e90e";
  color: #72767c;
}
.icon-dashboard-icon:before {
  content: "\e90f";
  color: #5f6165;
}
.icon-info-sign:before {
  content: "\e910";
  color: #ff5a5a;
}
.icon-notification:before {
  content: "\e912";
  color: #72767c;
}
.icon-home:before {
  content: "\e911";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cross:before {
  content: "\ea0f";
}
