@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply the font globally */
body {
  @apply font-sans;
}

@layer base {
  h1 {
    @apply text-xl font-bold;
    @apply sm:text-2xl;
    @apply md:text-3xl;
  }
  h2 {
    @apply text-lg font-bold;
    @apply sm:text-xl;
    @apply md:text-2xl;
  }
  h3 {
    @apply text-base font-bold;
    @apply sm:text-lg;
    @apply md:text-xl;
  }
}

:root {
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
